.App {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

button {
  font-size: 1em;
  text-align: center;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  background-color: #FDE9FF;
  border: none;
  color:#000;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

thead {
  color: white;
  background: #a90329; /* Old browsers */
  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
}

table td,
table th {
  border: 1px solid #D3D3D3;
  padding: 10px 20px;
  position: relative;
}

thead tr th {
  height: 70px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

table tr th {
  border: 1px solid #333;
}

table tr:first-child th {
  border-top: 0;
}

table tr td:first-child {
  border-right: 0;
}

table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

table {
  width: 100%;
  overflow: hidden;
  margin-right: 5px;
  margin-left: 0px;
  column-gap: 5em;
  border-collapse: collapse;;
}

th.words-column,
th.publish-at-column {
  text-align: center;
  padding-top: 27px;
  padding-bottom: 0px;
  cursor: pointer;
}

td.words,
td.publish_at {
  text-align: center;
}

img {
  display: block;
  margin: 1px;
  border: 1px solid #D3D3D3;
}

tbody tr:nth-child(even) {
  background-color: #F0F0F0;
}

tbody tr:nth-child(odd) {
  background-color: #F8F8F8;
}

tbody tr:hover {
  background-color: #DEF;
}

.currentSort {
  margin-top: 5px;
  color: #1DAAFF;
}

.inactiveSort {
  margin-top: 5px;
  color: gray;
}

a, button {
  text-decoration: none;
  font-size-adjust: 30;
  color: #005278;
}

a:hover {
  color: #447298;
}

a:active {
  color: #1DAAFF;
}

button:hover {
  background-color: #1DAAFF;
}

button:active {
  background-color: #447298;
}

th.title-column {
  padding-left: 20px;
  width: 1200px;
}

th.publish-at-column {
  padding-right: 20px;
  width: 150px;
}

th.author-column {
  padding-left: 20px;
  width: 150px;
}

th.words-column {
  padding-left: 20px;
  padding-right: 20px;
}

.hoverImage {
  height: auto;
  width: auto;
  position:absolute;
  z-index:999;
}
